.recommendation {
    max-width: 1440px;
    margin: 0 auto;
}

.recommendation h1 {
    font-family: "BenchNine", sans-serif;
    font-size: 4rem;
    margin: 40px 70px;
}

.recommendation-container {
    margin: 0 50px !important;
    display: grid !important;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}

/* <!-- HTML !-->
<button class="link" role="button">Button 40</button> */

/* CSS */
.link {
    background-color: #111827;
    border: 1px solid transparent;
    border-radius: .75rem;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex: 0 0 auto;
    font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.5rem;
    padding: .75rem 1.2rem;
    text-align: center;
    text-decoration: none #6B7280 solid;
    text-decoration-thickness: auto;
    transition-duration: .2s;
    transition-property: background-color, border-color, color, fill, stroke;
    transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
}

.link:hover {
    background-color: #ffffff;
    color: black;
    border: 2px solid black;
}

.link:focus {
    box-shadow: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
}

@media (min-width: 768px) {
    .link {
        padding: .75rem 1.5rem;
    }
}

@media only screen and (max-width: 600px) {
    .recommendation-container {
        grid-template-columns: repeat(1, 1fr);
        margin: 0 !important;
    }

    .recommendation {
        margin: 0 20px !important;
        padding: 0 !important;
    }

    .recommendation img {
        max-width: 100vw !important;
    }

    .recommendation h1 {
        margin: 0 30px;
        text-align: center !important;
        font-size: 2rem;
    }
}